<GridLayout class="background" androidOverFlowAre="true">
    <DockLayout class="p-25">
        <StackLayout dock="top">
            <Label text="Sign In" class="title m-b-5"></Label>
            <StackLayout class="white-box">
                <Image style="margin-top: -180" src="res://salad"></Image>
                <Label text="Welcome Back" class="title-login big"></Label>
                <Label text="We love to see you again" class="title-login small m-b-15"></Label>
                <TextField [(ngModel)]="email" class="tf-gray user m-b-5 m-x-10" hint="Username or Email Address" keyboardType="email" autocapitalitionType="none"></TextField>
                <TextField [(ngModel)]="password" class="tf-gray password m-b-5 m-x-10" hint="Password" secure="true"></TextField>
                <Button class="button button-one arrow m-y-15" pageTransition="slide" clearHistory="true" (tap)="onLogin()"></Button>
            </StackLayout>
        </StackLayout>
        <GridLayout dock="bottom" columns="*, *">
            <Button class="button button-one" col="0" text="Sing In" (tap)="onLogin()"></Button>
            <Button class="button button-second-inverse" col="1" text="Sign Up" nsRouterLink="/register" pageTransition="slide"></Button>
        </GridLayout>
    </DockLayout>
</GridLayout>