<StackLayout>
    <StackLayout class="background-detail" [backgroundImage]="restaurant.thumb">
        <StackLayout orientation="horizontal" class="background-label">
            <Label class="fa back" text="&#xf053;" (tap)="onBack()"></Label>
            <Label [text]="restaurant.name" class="title p-10" textWrap="true"></Label>
        </StackLayout>
    </StackLayout>

    <StackLayout class="p-10">
        <Label class="label detail black" [text]="restaurant.user_rating.rating_text"></Label>
        <Label class="label detail" [text]="restaurant.timings" textWrap="true"></Label>
        <Label class="label detail" [text]="restaurant.cuisines" textWrap="true"></Label>
        <Label class="label detail black" [text]="restaurant.location.address" textWrap="true"></Label>
        <Label class="label detail black" [text]="restaurant.phone_numbers" textWrap="true"></Label>
    </StackLayout>
    <ContentView height="100%" width="100%">
        <Mapbox accessToken="pk.eyJ1IjoiYW5kcmVzc2FsZ2Fkb2MxIiwiYSI6ImNrMXRyN2c2bDAxZHUzb3FmcmRpdWIwdDIifQ.uT9V4dExJjvVNRWPQaZT_Q" [latitude]="restaurant.location.latitude" [longitude]="restaurant.location.longitude" zoomLevel="16" (mapReady)="onMapReady($event,restaurant)">
        </Mapbox>
    </ContentView>
</StackLayout>