.background-home {
    background-image: url('res://bg_restaurants');
    background-repeat: no-repeat;
    background-position: center;
    padding: 10;
}

.background-detail {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200;
}

.background-label {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.label {
    color: gray;
    font-size: 9;
    &.detail {
        font-size: 12;
    }
    &.black {
        font-size: 12;
        color: black;
    }
}

.label-search {
    font-size: 15;
    color: white;
}

.center {
    vertical-align: center;
    horizontal-align: center;
}

.box-profile {
    background-color: white;
    margin: 10;
    margin-top: -100;
    border-radius: 10;
}

.back {
    color: white;
    font-size: 36;
    margin-top: 10;
    padding: 10;
}

.user {
    font-size: 16;
    color: $color_gray;
    padding-top: 10;
    &.green {
        color: $color_green;
    }
}

.tf-profile {
    width: 100%;
    border-radius: 5;
    padding-left: 20;
    placeholder-color: $color_gray;
}