.background {
    background-image: url('res://background_login');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.white-box {
    border-radius: 15;
    background-color: white;
}

.title-login {
    color: $color_violet;
    text-align: center;
    &.big {
        font-size: 40;
        font-weight: bold;
    }
    &.small {
        font-size: 14;
        font-weight: 300;
    }
    &.green {
        color: $color_green;
    }
    &.pink {
        color: $color_pink;
    }
}