<GridLayout rows="250, *">
    <Image src="https://cdn.wallpaperdirect.com/shared-assets/images/products/127432full.jpg" height="250" stretch="fill"></Image>
    <MDCardView row="1" class="box-profile">
        <StackLayout class="p-20">
            <StackLayout class="m-t-10" orientation="horizontal">
                <Label text="&#xf007;" class="fa m-r-10 user green"></Label>
                <TextField class="user tf-profile" [hint]="user.name"></TextField>
            </StackLayout>
            <StackLayout class="line green"></StackLayout>
            <StackLayout class="m-t-10" orientation="horizontal">
                <Label text="&#xf0e0;" class="fa m-r-10 user green"></Label>
                <TextField class="user tf-profile" [hint]="user.email"></TextField>
            </StackLayout>
            <StackLayout class="line green"></StackLayout>
            <StackLayout class="m-t-10" orientation="horizontal">
                <Label text="&#xf09c;" class="fa m-r-10 user green"></Label>
                <TextField class="user tf-profile" hint="Password" secure="true"></TextField>
            </StackLayout>
            <StackLayout class="line green"></StackLayout>
            <Button class="button-outline green m-t-20" text="Update Profile"></Button>
            <Button class="button-outline pink m-t-5" text="Logout" (tap)="onLogout()"></Button>
        </StackLayout>
    </MDCardView>
</GridLayout>