@import './styles/login';
@import './styles/bottom-bar';
@import './styles/home';
@import '~nativescript-theme-core/css/core.light.css';
.fa {
    font-family: "Font Awesome 5 Free Solid", "fa-solid-900";
    font-weight: 900;
}

* {
    font-family: "Product Sans", "Product Sans Regular"
}

.title {
    font-size: 42;
    color: white;
    font-weight: bold;
}

.tf-gray {
    font-size: 16;
    border-radius: 5;
    opacity: 0.5;
    padding-left: 25;
    placeholder-color: $color_violet;
    background-color: $color_gray_light;
    background-repeat: no-repeat;
    background-position: 1% 50%;
    &.green {
        placeholder-color: $color_green;
    }
    &.user {
        background-image: url('res://ic_user');
        &.green {
            background-image: url('res://ic_user_green');
        }
    }
    &.password {
        background-image: url('res://ic_password');
        &.green {
            background-image: url('res://ic_password_green');
        }
    }
    &.email {
        background-image: url('res://ic_mail_green');
    }
    &.search {
        background-color: white;
    }
}

.button {
    width: 150;
    height: 45;
    border-radius: 12;
    &.button-one {
        color: white;
        background-color: $color_violet;
    }
    &.button-one-inverse {
        color: $color_violet;
        background-color: white;
    }
    &.button-second {
        color: white;
        background-color: $color_green;
    }
    &.button-second-inverse {
        color: $color_green;
        background-color: white;
    }
    &.arrow {
        background-image: url('res://arrow');
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}

.button-outline {
    border-width: 1;
    border-radius: 5;
    background-color: white;
    width: 50;
    height: 50;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    &.google {
        border-color: $color_pink;
        background-image: url('res://ic_google');
    }
    &.facebook {
        border-color: $color_blue;
        background-image: url('res://ic_facebook');
    }
    &.green {
        border-color: $color_green;
        color: $color_green;
        width: 80%;
    }
    &.pink {
        border-color: $color_pink;
        color: $color_pink;
        width: 80%;
    }
}

.line {
    height: 1;
    background-color: $color_gray;
    width: 100%;
    margin-top: 5;
    margin-bottom: 5;
    &.green {
        background-color: $color_green;
    }
    &.blue {
        background-color: $color_blue;
    }
}